@charset "UTF-8";
/* CSS Document */


/* basic elements */


html { 			 	font-family:Gotham, Helvetica, Arial, sans-serif; 
					color:#333; 	
					margin: 5; 
					padding: 0;}
					
body { 		 		font: georgia, Gotham, Helvetica, Arial, sans-serif; 
					line-height: 1.88889;
					color: #555753; 
					margin: 5; 
					padding: 5; 
					align-content:center;}
					
#container {			align-self:stretch;
					width: 600px;
					margin: 10 auto;
					background: #fff;
					position: relative;
					padding: 5px;}

#banner {			
					align: center;
					width: 100%;
					height: 150;
					border-width: 5px;
					border-color: #BAB291;
					align-content:center;
					clear:both;}

					
#header { widows:100%; height:60px; border-bottom:1px solid #c7c7c7; background:#333; }
		
					
 /* navigation menu styles */
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

	

#navbar { float: left;height:20px; clear:both; }

#navbar ul { margin:0; padding:5; list-style-type:none; }

#navbar ul li { padding:10px; float:left; }

#navbar ul .nav a { font-size:36px;  float:left; padding:0 0 0 20px; display:block; }	
					

/*					
#logo { 				align: center;


					float: none; 
					widows:40px; 
					height:40px; 
					margin:10px; 
					background:#ccc;
					}
				 
#top_info { 			float:right; 
					widows:100px; 
					height:40px; 
					background:#666; 
					border:1px solid#c7c7c7; 
					margin:10px; }
				*/ 

	
					


/*#left_col { 			float:left; 
					width:250px; 
					padding:20px; 
					height:200px; 
					border:1px solid #333; 
					color:#fff; 
					background-color:#000; }
					
#right_col { 		float:right; 
					width:250px; 
					padding:20px;  
					height:200px; 
					border:1px solid #333; 
					color:#fff; 
					background-color:#000; }
					
#footer { 			padding:20px; 
					clear:both; }



.body_text {	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	border: 5px;
	width:  700;
}


.nav_bar {	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	

}

.small_text {	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
}













/* xxxxxxxxxx */



	
p { 
	margin-top: 0; 
	text-align: justify;
	
	margin-top: 10px;
	display: block;
	width: 700px;
	
	
	
	
	}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}




/* specific divs */
.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	background: transparent url(http://csszengarden.com/001/h2.gif) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
/*header {
	padding-top: 20px;
	height: 87px;
}
*/
.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}

*/